#waybar {
    background-color: rgba(30, 30, 30, 0.95);
    color: #ffffff;
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

#waybar > * {
    padding: 0 10px;
    margin: 0 3px;
}

#clock, #battery, #pulseaudio {
    border-radius: 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #aaaaaa;
    margin: 0 2px;
}

#workspaces button.active {
    color: #8be9fd; /* A light blue accent */
    font-weight: bold;
}

#custom-cava {
    font-family: "0xProto Nerd Font";
    font-size: 18px;
    color: #FFFFFF;
    padding: 0 10px;
}

#clock, #custom-music {
    margin-right: 10px;
}